@font-face {
    font-family: "IsMe";
    src: url("assets/PixelNintendoFonts/TypefaceMarioWorldPixelFilledRegular-Yz84q.otf");
}
.title_screen {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* ref a nier replicant  */
    z-index: 122474487139;
}
@keyframes fadein {
    to {
        opacity: 1;
    }
}
.kill_title_screen {
    opacity: 0;
}
h1 {
    font-family: "IsMe";
    color: #e0ff97;
    font-size: 3.2em;
}
#root {
    max-width: 1280px;
    padding: 2rem;
    text-align: center;
}
.Greatcontainer {
    max-width: 1280px;
    padding: 2rem;
    text-align: center;
    align-items: center;
    position: absolute;
    left: 20%;
    top: 5%;
    justify-content: center;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}
.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}

gameboy-crystal {
    --width: 60vw;
    --height: 80vh;
}

.container {
    background-color: #737488;
    width: var(--width);
    height: var(--height);
    border-radius: 10px 10px 35px 10px;
    border: 1px solid #666;
    border-width: 0 1px 0 1px;
    box-shadow: 0 0 2px #514c65, 0 -1px 1px #161118, 0 -2px 1px #a0939f,
        0 -4px 1px #514c65, 0 0 2px 2px #9c99ac88 inset,
        0 -1px 2px 1px #0006 inset;
}

.top {
    --gameboy-stripe-gradient: linear-gradient(
        transparent 10px,
        #7d1a4a 11px 12px,
        transparent 12px 16px,
        #35224e 16px 18px,
        transparent 18px
    );

    background: var(--gameboy-stripe-gradient);
    position: relative;
    height: 26px;
    margin: 0 15px;
    top: 0;
}

.top span {
    padding: 0 8px;
    background: #767189;
    position: absolute;
    right: 40px;
    top: 8px;
}

.top .text {
    font-size: 15px;
}

.bottom {
    display: flex;
}

.battery {
    padding: 0 10px;
    height: var(--height);
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateY(-20px);
}

.battery .led {
    width: 10px;
    height: 10px;
    background: #4a4748;
    border-radius: 50%;
    margin: 6px;
}

.battery .led.on {
    background: #e11e0a;
    background-image: linear-gradient(0deg, transparent, #fff2);
    box-shadow: 0 0 2px 1.5px #d87473;
}

.battery .text {
    font-size: 12px;
}

.text {
    font-family: Arial, sans-serif;
    font-size: 10px;
    color: #eee;
    text-shadow: 0 0 2px #eee9;
}

gameboy-screen {
    transform: translate(2px, 2px);
}

.container2 {
    background: #9ca04c;
    width: 50vw;
    height: 70vh;
    margin-top: 20px;
    box-shadow: 5px 5px 10px #0008 inset, -2px -1px 10px #0005 inset,
        0 0 4px 3px #aaa4;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
}
.containerplayer {
    display: none;
}
@media screen and (max-width: 900px) {
    h1 {
        font-size: 1em;
    }
    gameboy-crystal {
        position: absolute;
        left: 4vw;
        top: 1vh;
        --width: 90vw;
        --height: 50vh;
    }
    .container2 {
        width: 72vw;
        height: 40vh;
        margin-top: 5px;
    }
    .battery {
        width: 6vw;
    }

    .battery .text {
        font-size: 7px;
    }

    .top .text {
        font-size: 7px;
        margin-left: 100px;
    }

    .Greatcontainer {
        left: 1%;
    }
    .container {
        border-radius: 5px 5px 20px 5px;
    }
    .containerplayer {
        display: block;
    }
}
